 @import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');
 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
     background-image: url("../img/");
     background-position: center center;
     background-repeat: no-repeat;
     /* background-attachment: fixed; */
     background-size: cover;
 }

 main {
     flex: 1 0 auto;
 }

 nav {
     height: 110px;
 }

.logo-img {
     padding-top: 20px;
     height: 100px;
 }

#foot {
     margin: auto;
 }

  #results {
      margin: auto;
  }

  figure.recipe-card {
      display: inline-block;
      width: 280px;
  }

  .recipe-title {
      color: black;
      font-size: 25px;
  }

  .recipe-description {
      color: black;
  }