 @import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');
 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
     background-image: url("../img/");
     background-position: center center;
     background-repeat: no-repeat;
     /* background-attachment: fixed; */
     background-size: cover;
 }

 main {
     flex: 1 0 auto;
 }

 nav {
     height: 110px;
 }

.logo-img {
     padding-top: 20px;
     height: 100px;
 }

#foot {
     margin: auto;
 }

 /* FORM STYLE */

 /* END FORM STYLE */

 /* NAV WRAPPER */
#search{
    height: 85px;
    margin-top: 45px;
}

#closebtn {
    line-height: 85px;
}